.pl {
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .pl-texts {
    width: 45%;
  }
  
  .pl-title {
    font-size: 50px;
    font-weight: 600;
  }
  
  .pl-desc {
    margin: 20px 0px;
  }
  
  .pl-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .pl-image{
    position: relative;
    z-index: -1;
  }
  
  .p-present{
    position: relative;
    right: -8px;
    width: 30%;
    height: 20%;
    margin: auto;
    padding:18%;
  }

  html {
    background: #e8e8f3;
    display: grid;
    place-content: center;
    -webkit-tap-highlight-color: transparent;
  }
  
  .menu {
    position: relative;
    top: 130px;
    padding: 30px;
    background: #e8e8f3;
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 7px 7px 15px rgba(55, 84, 170, 0.15), -7px -7px 20px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2), inset 7px 7px 15px rgba(55, 84, 170, 0), inset -7px -7px 20px rgba(255, 255, 255, 0), 0px 0px 4px rgba(255, 255, 255, 0);
  }
  .menu::before, .menu::after {
    content: "";
    background: #c3c2c7;
    border-radius: 5px;
    width: 30px;
    height: 5px;
    position: absolute;
    left: 16px;
    top: 27px;
    transition: 0.2s ease;
    z-index: 1;
  }
  .menu::before {
    transform: rotate(0deg);
  }
  .menu::after {
    transform: rotate(-90deg);
  }
  .menu-open {
    opacity: 0.9;
    position: relative;
    top: 130px;
    padding: 30px;
    background: #e8e8f3;
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 7px 7px 15px rgba(55, 84, 170, 0.15), -7px -7px 20px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2), inset 7px 7px 15px rgba(55, 84, 170, 0), inset -7px -7px 20px rgba(255, 255, 255, 0), 0px 0px 4px rgba(255, 255, 255, 0);
    transform: rotate(0deg);
  }
  .menu-open::before {
    transform: rotate(45deg);
    content: "";
    background: #c3c2c7;
    border-radius: 5px;
    width: 30px;
    height: 5px;
    position: absolute;
    left: 16px;
    top: 27px;
    transition: 0.2s ease;
    z-index: 1;
  }
  .menu-open::after {
    transform: rotate(-45deg);
    content: "";
    background: #c3c2c7;
    border-radius: 5px;
    width: 30px;
    height: 5px;
    position: absolute;
    left: 16px;
    top: 27px;
    transition: 0.2s ease;
    z-index: 1;
  }
  .menu-open .button {
    opacity: 1;
    pointer-events: auto;
  }
  .menu-open .button:first-of-type {
    bottom: 40px;
    right: 200px;
    background: url("../../img/projects/bug.png") no-repeat 50%/50% #e8e8f3;
  }
  .menu-open .button:nth-of-type(2) {
    bottom: 130px;
    background: url("../../img/projects/resume.png") no-repeat 50%/50% #e8e8f3;
    transition-delay: 0.05s;
  }
  .menu-open .button:last-of-type {
    bottom: 40px;
    right: -200px;
    background: url("../../img/projects/rps.png") no-repeat 50% 45%/50% 45% #e8e8f3;
    transition-delay: 0.1s;
  }
  
  .button {
    padding: 30px;
    border-radius: 50%;
    cursor: pointer;
    background: #e8e8f3;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0;
    pointer-events: none;
    box-shadow: inherit;
    transition: 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28), 0.2s ease opacity, 0.2s cubic-bezier(0.08, 0.82, 0.17, 1) transform;
  }
  .button:hover {
    transform: scale(1.1);
  }

  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }

  /* Tooltip text */
  .button .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  }
  
  #left{
        /* Position the tooltip text - see examples below! */
        position: absolute;
        z-index: 1;
        top: 15%;
        left: -220%;
  }

  #middle{
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    bottom: -70%;
    left: -50%;
  }

  #right{
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    top: 15%;
    left: 115%;
  }

  /* Show the tooltip text when you mouse over the tooltip container */
  .button:hover .tooltiptext {
    visibility: visible;
  }


  
  
  @media screen and (max-width: 480px) {
    .pl {
      padding: 10px;
    }
  
    .pl-texts {
      width: 100%;
    }
  
    .pl-desc {
      display: none;
    }
  }